<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'website/overlay_styles.css' %}">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1920, height=1080, initial-scale=1.0">
    <meta http-equiv="refresh" content="30">
    <title></title>
</head>
<body>
    <div class='lower-banner'><p class='banner-content'><b>Top chatters: 1.</b> {{top_chatter}} <b>2.</b> {{second_chatter}} <b>3.</b> {{third_chatter}}</p> <p class='goal'>{{num}} until affiliate</p></div>
</body>
</html>