<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greshbot Stats</title>
</head>
<body>
    1. {{chatter1}} <br>
    2. {{chatter2}} <br>
    3. {{chatter3}} <br>
    4. {{chatter4}} <br>
    5. {{chatter5}} <br>

    1. {{atchatter1}} <br>
    2. {{atchatter2}} <br>
    3. {{atchatter3}} <br>
    4. {{atchatter4}} <br>
    5. {{atchatter5}} <br>
</body>
</html>